body {
    font-family: 'Roboto';
    background-color: #000000;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 56px;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
    margin-top: 50px;
}

.tambah_data {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-left: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(200, 198, 197);
}

.btn-5:hover {
    color: #000000;
    box-shadow: none;
}

a:link {
    color: #ecde65;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

table tr {
    background-color: #252525;
    color: #EDEDED;
    text-align: center;
}

table tr th {
    font-size: larger;
    text-align: center;
}

table tr:hover {
    background-color:rgb(255, 255, 255);
    color: #252525;
}

table tr a:hover {
    color: rgb(255, 0, 0);
}